.hero {
  position: relative;
  width: 60%;
  background-color: #444;
  padding: 20px;
  font-size: 16px;
  border-bottom-right-radius: 60px;
  main {
    section {
      h1 {
        font-size: 3rem;
        margin: 0;
      }
    }
  }
}
